@import "bower_components/bootstrap/less/bootstrap.less";
  //@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

@fa-font-path: "bower_components/font-awesome/fonts";
@import "header.css";

@import "bower_components/angular-busy/dist/angular-busy.min.css";

/* Component LESS */
@import "partial/home/home.less";
@import "partial/team/team.less";
@import "partial/teamEquipe/teamEquipe.less";
@import "partial/teamDestaque/teamDestaque.less";
@import "partial/teamDesempenho/teamDesempenho.less";
@import "partial/creditos/creditos.less";
/* Add Component LESS Above */

/* Grayscale */
@import "css/grayscale.css";

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a {
  cursor: pointer;
}

/* Required for Angular */
[ui-sref], [ng-click], [data-ng-click], [x-ng-click], .nav, .pagination, .carousel a { cursor: pointer; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
  height: 100%;
  max-width: 100%;
//  overflow: hidden;
}

/* Barra UOL */
#uol_header {
  height: 30px;
  overflow: hidden;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

//ESPN NAV BAR - START
.navbar-espn {
  margin-top: 30px;
  background: rgba(248, 248, 248, 0.2);
  border: 0px;

  .navbar-header {
    float:left;
  }

  .navbar-right.navbar-nav {
    float: right !important;
    margin-bottom: 0px;
    &last-child {
      margin-right: -15px;
    }

    > li {

      float: left;

      > a {

        &:hover {
          background: rgba(248, 248, 248, 0.2);
        }

        > img {
          height: 20px;
        }
      }
    }
  }
  @media (max-width: @screen-phone) {
    background: rgba(255, 255, 255, 1);
  }
}

//ESPN NAV BAR - END


.container-fluid {
  margin-top: 0px;
  background-color: #000;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  @media (max-width: @screen-phone) {
    overflow-y: visible;
  }
}

.visible-phone {
  .responsive-invisibility();
}

.visible-phone-block, .visible-phone-inline, .visible-phone-inline-block {
  display: none !important;
}
.visible-phone {
  @media (max-width: @screen-phone) {
    .responsive-visibility();
  }
}
.visible-phone-block {
  @media (max-width: @screen-phone) {
    display: block !important;
  }
}

.visible-phone-inline {
  @media (max-width: @screen-phone) {
    display: inline !important;
  }
}

.visible-phone-inline-block {
  @media (max-width: @screen-phone) {
    display: inline-block !important;
  }
}


.hidden-phone {
  @media (max-width: @screen-phone) {
    .responsive-invisibility();
  }
}

.cg-busy-backdrop {
  background-color: #000;
  opacity: 0.8;
}

.messageLoading {
  text-align:center;
  font-family: 'PT Sans', sans-serif;
  font-size:26px;
  color: #fff;
  position:absolute;
  text-transform: uppercase;
  top:40vh;
  width:100%;
}
.loadingBackdrop {
  background-image:url('images/finalfantasy.gif');
  background-position:50% 50vh;
  background-repeat:no-repeat;
}

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}