<div>
    <!--BARRA TIMES-->
    <div class="navbar navbar-default navbar-fixed-top navbar-espn navbar-team" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav mainSelect grupoA grayscale" ng-mouseover="showTitleA=true"
                ng-mouseleave="showTitleA=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'A'}" ng-mouseover="menu.teamNameA=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleA" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO A | <span
                        class="teamName hidden-phone">{{menu.teamNameA}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoB grayscale" ng-mouseover="showTitleB=true"
                ng-mouseleave="showTitleB=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'B'}" ng-mouseover="menu.teamNameB=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleB" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO B | <span
                        class="teamName hidden-phone">{{menu.teamNameB}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoC grayscale" ng-mouseover="showTitleC=true"
                ng-mouseleave="showTitleC=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'C'}" ng-mouseover="menu.teamNameC=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleC" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO C | <span
                        class="teamName hidden-phone">{{menu.teamNameC}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoD grayscale" ng-mouseover="showTitleD=true"
                ng-mouseleave="showTitleD=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'D'}" ng-mouseover="menu.teamNameD=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleD" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO D | <span
                        class="teamName hidden-phone">{{menu.teamNameD}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoE grayscale" ng-mouseover="showTitleE=true"
                ng-mouseleave="showTitleE=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'E'}" ng-mouseover="menu.teamNameE=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleE" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO E | <span
                        class="teamName hidden-phone">{{menu.teamNameE}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoF grayscale" ng-mouseover="showTitleF=true"
                ng-mouseleave="showTitleF=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'F'}" ng-mouseover="menu.teamNameF=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleF" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO F | <span
                        class="teamName hidden-phone">{{menu.teamNameF}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoG grayscale" ng-mouseover="showTitleG=true"
                ng-mouseleave="showTitleG=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'G'}" ng-mouseover="menu.teamNameG=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleG" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO G | <span
                        class="teamName hidden-phone">{{menu.teamNameG}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoH grayscale" ng-mouseover="showTitleH=true"
                ng-mouseleave="showTitleH=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'H'}" ng-mouseover="menu.teamNameH=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleH" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO H | <span
                        class="teamName hidden-phone">{{menu.teamNameH}}</span>
                </li>
            </ul>
        </div>
    </div>
    <!--FINAL BARRA TIMES-->
    <div class="container time equipe desempenho">
        <div class="row">
            <div class="col-md-12 creditos">
                <h1>Créditos</h1>
                <p><strong>SUPERVISÃO TÉCNICA:</strong> Roberto Verli<br/>
                    <strong>SUPERVISÃO DE DESIGN:</strong> Gabriel Gorski<br/>
                    <strong>CONTEÚDO:</strong> Igor Resende / André Donke<br/>
                    <strong>REVISÃO:</strong> Guilherme Nagamine / Felipe Alencar<br/>
                    <strong>ILUSTRAÇÕES:</strong> PVISION<br/>
                    <strong>DESIGN/UX:</strong> PVISION<br/><br/><br/><br/></p>

                    <a ui-sref="home"><i class="fa fa-home"></i> Início</a>
            </div>
        </div>
    </div>
</div>
