<div ng-controller="TeamEquipeCtrl">
    <!--BARRA TIMES-->
    <div class="navbar navbar-default navbar-fixed-top navbar-espn navbar-team hidden-phone" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav mainSelect grupoA grayscale" ng-mouseover="showTitleA=true"
                ng-mouseleave="showTitleA=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'A'}" ng-mouseover="menu.teamNameA=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleA" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO A | <span
                        class="teamName hidden-phone">{{menu.teamNameA}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoB grayscale" ng-mouseover="showTitleB=true"
                ng-mouseleave="showTitleB=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'B'}" ng-mouseover="menu.teamNameB=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleB" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO B | <span
                        class="teamName hidden-phone">{{menu.teamNameB}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoC grayscale" ng-mouseover="showTitleC=true"
                ng-mouseleave="showTitleC=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'C'}" ng-mouseover="menu.teamNameC=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleC" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO C | <span
                        class="teamName hidden-phone">{{menu.teamNameC}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoD grayscale" ng-mouseover="showTitleD=true"
                ng-mouseleave="showTitleD=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'D'}" ng-mouseover="menu.teamNameD=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleD" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO D | <span
                        class="teamName hidden-phone">{{menu.teamNameD}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoE grayscale" ng-mouseover="showTitleE=true"
                ng-mouseleave="showTitleE=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'E'}" ng-mouseover="menu.teamNameE=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleE" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO E | <span
                        class="teamName hidden-phone">{{menu.teamNameE}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoF grayscale" ng-mouseover="showTitleF=true"
                ng-mouseleave="showTitleF=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'F'}" ng-mouseover="menu.teamNameF=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleF" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO F | <span
                        class="teamName hidden-phone">{{menu.teamNameF}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoG grayscale" ng-mouseover="showTitleG=true"
                ng-mouseleave="showTitleG=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'G'}" ng-mouseover="menu.teamNameG=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleG" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO G | <span
                        class="teamName hidden-phone">{{menu.teamNameG}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoH grayscale" ng-mouseover="showTitleH=true"
                ng-mouseleave="showTitleH=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'H'}" ng-mouseover="menu.teamNameH=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleH" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO H | <span
                        class="teamName hidden-phone">{{menu.teamNameH}}</span>
                </li>
            </ul>
        </div>
    </div>
    <!--FINAL BARRA TIMES-->
    <!--BARRA TIMES MOBILE-->
    <nav class="navbar navbar-default navbar-fixed-top navbar-mobile visible-phone-block" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <form class="navbar-form navbar-left form-inline" role="search">
                    <div class="form-group">
                        <select ng-change="goToTeam()" class="form-control" ng-model="navMobile.team" ng-options="team.nome for team in teams.times">
                            <option value="">Selecione um Time</option>
                        </select>
                    </div>
                </form>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})">Home</a></li>
                    <li><a ui-sref="teamEquipe({id:slugfy(team.abreviaturaMenu)})" ng-style="menuStyleEquipe"
                           ng-mouseout="menuStyleEquipe={}"
                           ng-mouseover="menuStyleEquipe={'background-color': '#'+team.codigoCor}">Equipe</a></li>
                    <li><a ui-sref="teamDestaque({id:slugfy(team.abreviaturaMenu)})" ng-style="menuStyleDestaque"
                           ng-mouseout="menuStyleDestaque={}"
                           ng-mouseover="menuStyleDestaque={'background-color': '#'+team.codigoCor}">Destaques</a></li>
                    <li><a ui-sref="teamDesempenho({id:slugfy(team.abreviaturaMenu)})" ng-style="menuStyleDesempenho"
                           ng-mouseout="menuStyleDesempenho={}"
                           ng-mouseover="menuStyleDesempenho={'background-color': '#'+team.codigoCor}">Desempenho</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!--FINAL BARRA TIMES MOBILE-->
    <div class="container time equipe">
    <div class="row">
        <div class="col-md-6 medias">
            <h1><img class="escudo" src="images/times/{{team.imgEscudo}}">{{team.abreviaturaMenu}}</h1>
            <div class="backToHome"><a ui-sref="home"><i class="fa fa-home"></i> Início</a><span class="btn-som" ng-class="{parar: !playing}" ng-click="toggleSom()"></span></div>
            <span class="mediasArea hidden-phone" style="color:#{{team.codigoCor}}">
                <span class="mediaLabel mediaAltura">Média<br/>de Altura</span>
                <span class="mediaValue mediaAltura">{{team.alturaMedia}}</span>
                <span class="mediaLabel mediaIdade">Média<br/>de Idade</span>
                <span class="mediaValue mediaIdade">{{team.idadeMedia}}</span>
            </span>
        </div>
    </div>
    <div class="row teamDetails">
        <div class="col-md-6 col-xs-12 formacao">
            <h3>Formação Tática</h3>

            <div class="campoMobile visible-phone-block" style="margin-top:10px;height: 150px;background: url('images/campos/{{team.imgCampo}}') no-repeat; background-position: -6px -11px; background-size: 300px;">
                <!--<img src="images/campos/{{team.imgCampo}}">-->
                <!--<span class="goleiro">goleiro<i class="fa fa-circle"></i></span>-->
                <!--<span class="lateralEsquerdo">lateralEsquerdo<i class="fa fa-circle"></i></span>-->
                <!--<span class="lateralDireito">lateralDireito<i class="fa fa-circle"></i></span>-->
                <!--<span class="zagueiroEsquerdo">zagueiroEsquerdo<i class="fa fa-circle"></i></span>-->
                <!--<span class="zagueiroDireito">zagueiroDireito<i class="fa fa-circle"></i></span>-->
                <!--<span class="volanteEsquerdo">volanteEsquerdo<i class="fa fa-circle"></i></span>-->
                <!--<span class="volanteDireito">volanteDireito<i class="fa fa-circle"></i></span>-->
                <!--<span class="meio">meio<i class="fa fa-circle"></i></span>-->
                <!--<span class="pontaEsquerda">pontaEsquerda<i class="fa fa-circle"></i></span>-->
                <!--<span class="atacante">atacante<i class="fa fa-circle"></i></span>-->
                <!--<span class="pontaDireita">pontaDireita<i class="fa fa-circle"></i></span>-->
            </div>

            <div class="campo hidden-phone" style="background: url('images/campos/{{team.imgCampo}}') no-repeat; background-position: -24px -21px; background-size: 600px;">
                <!--<img src="images/campos/{{team.imgCampo}}">-->
                <!--<span class="goleiro">goleiro<i class="fa fa-circle"></i></span>-->
                <!--<span class="lateralEsquerdo">lateralEsquerdo<i class="fa fa-circle"></i></span>-->
                <!--<span class="lateralDireito">lateralDireito<i class="fa fa-circle"></i></span>-->
                <!--<span class="zagueiroEsquerdo">zagueiroEsquerdo<i class="fa fa-circle"></i></span>-->
                <!--<span class="zagueiroDireito">zagueiroDireito<i class="fa fa-circle"></i></span>-->
                <!--<span class="volanteEsquerdo">volanteEsquerdo<i class="fa fa-circle"></i></span>-->
                <!--<span class="volanteDireito">volanteDireito<i class="fa fa-circle"></i></span>-->
                <!--<span class="meio">meio<i class="fa fa-circle"></i></span>-->
                <!--<span class="pontaEsquerda">pontaEsquerda<i class="fa fa-circle"></i></span>-->
                <!--<span class="atacante">atacante<i class="fa fa-circle"></i></span>-->
                <!--<span class="pontaDireita">pontaDireita<i class="fa fa-circle"></i></span>-->
            </div>
        </div>
        <div class="col-md-3 col-xs-12 elenco">
            <h3>Elenco</h3>

            <div class="elencoTable">
                <ul>
                    <li><a ng-class="{active:posicaoActive.goleiro, goleiroActive:posicaoActive.goleiro}" ng-click="search.grupo='Goleiro'; changePosition('goleiro')">Goleiro</a></li><li><a ng-class="{active:posicaoActive.defesa, defesaActive:posicaoActive.defesa}" ng-click="search.grupo='Defesa'; changePosition('defesa')">Defesa</a></li><li><a ng-class="{active:posicaoActive.meio, meioActive:posicaoActive.meio}" ng-click="search.grupo='Meio'; changePosition('meio')">Meio</a></li><li><a ng-class="{active:posicaoActive.ataque, ataqueActive:posicaoActive.ataque}" ng-click="search.grupo='Ataque'; changePosition('ataque')">Ataque</a></li>
                </ul>
                <table>
                    <tbody>
                    <tr ng-repeat="jogador in team.time | filter:search">
                        <td>{{jogador.numero}}</td>
                        <td>{{jogador.nome}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 negociacoes">
            <h3>Negociações</h3>
            <table>
                <tbody>
                <tr ng-repeat="negocio in team.negociacoes">
                    <td>{{negocio.jogador}}</td>
                    <td><img src="images/setas/{{negocio.chegou_saiu}}.png"></td>
                    <td>{{negocio.time}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 menuTeam hidden-phone">
            <ul>
                <li><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})" ng-style="menuStyleHome" ng-mouseout="menuStyleHome={}" ng-mouseover="menuStyleHome={'background-color': '#'+team.codigoCor}">Home</a></li>
                <li class="active"><a ui-sref="teamEquipe({id:slugfy(team.abreviaturaMenu)})">Equipe</a></li>
                <li><a ui-sref="teamDestaque({id:slugfy(team.abreviaturaMenu)})" ng-style="menuStyleDestaque" ng-mouseout="menuStyleDestaque={}" ng-mouseover="menuStyleDestaque={'background-color': '#'+team.codigoCor}">Destaques</a></li>
                <li><a ui-sref="teamDesempenho({id:slugfy(team.abreviaturaMenu)})" ng-style="menuStyleDesempenho" ng-mouseout="menuStyleDesempenho={}" ng-mouseover="menuStyleDesempenho={'background-color': '#'+team.codigoCor}">Desempenho</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
