.equipe {
  .medias {

    margin-top: 13px;

    img.escudo {
      vertical-align: -12px;
      margin-right: 15px;
      height: 45px;
      width: 45px;
    }
    h1 {
      font-weight: 700;
      font-size: 25px;
      color: #fff;
      margin-top: 10px;
      display: inline-block;
    }

    .mediaLabel {
      font-size: 14px;
      color: #fff;
      width: 100px;
      display: inline-block;
      text-transform: uppercase;
      text-align: right;

      background: url("images/separadorMedias.png") no-repeat;
      background-position: 100% 0px;
      padding-right: 20px;

    }

    .mediasArea {
      margin-left: 30px;
      font-weight: 700;
      color: @vermelho-selecao-interna;
      font-size: 34px;
    }
  }
  .teamDetails {
    margin-top: 10px;
    h3 {
      font-weight: 700;
      font-size: 20px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.3);
      margin-bottom: 0px;
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 15px;
    }

    .formacao {

      @media (max-width: @screen-phone) {
        padding-left: 0px;
        padding-right: 0px;
      }

      .campo {
        height: 300px;
        position: relative;
        background: url('images/campo.png') no-repeat;
        background-size: 567px;
        background-position-x: -6px;
        background-position-y: -3px;

        @media (max-width: @screen-phone) {
          background-size: 300px !important;
        }

        span {
          font-size: 16px;
          font-weight: 700;
          color: #fff;
          position: absolute;
          &.goleiro {
            top: 116px;
            left: 7px;
          }
          &.lateralEsquerdo {
            top: 20px;
            left: 137px;
          }
          &.lateralDireito {
            top: 226px;
            left: 130px;
          }
          &.zagueiroEsquerdo {
            top: 57px;
            left: 40px;
          }
          &.zagueiroDireito {
            top: 164px;
            left: 50px;
          }
          &.volanteEsquerdo {
            top: 75px;
            left: 209px;
          }
          &.volanteDireito {
            top: 155px;
            left: 207px;
          }
          &.meio {
            top: 100px;
            left: 354px;
          }
          &.pontaEsquerda {
            top: 12px;
            left: 374px;
          }
          &.pontaDireita {
            top: 212px;
            left: 374px;
          }
          &.atacante {
            top: 132px;
            left: 474px;
          }
          i {
            color: @vermelho-selecao-interna;
            display: block;
            text-align: center;
          }
        }
      }
    }
    .elenco {
      .elencoTable {
        ul {
          list-style-type: none;
          padding-left: 0px;
          margin-bottom: 0px;
          li {
            display: inline-block;
            &:nth-child(1) a {
              background: url("images/icones/goleiro.png") no-repeat rgba(25, 25, 25, 0.35);
              background-position: center 20px;
              &:hover {
                background: url("images/icones/goleiro_branco.png") no-repeat @vermelho-selecao-interna;
                background-position: center 20px;
              }
              &.goleiroActive {
                background: url("images/icones/goleiro_branco.png") no-repeat;
                background-position: center 20px;
              }
            }
            &:nth-child(2) a {
              background: url("images/icones/defesa.png") no-repeat rgba(35, 35, 35, 0.3);
              background-position: center 20px;
              &:hover {
                background: url("images/icones/defesa_branco.png") no-repeat @vermelho-selecao-interna;
                background-position: center 20px;
              }
              &.defesaActive {
                background: url("images/icones/defesa_branco.png") no-repeat;
                background-position: center 20px;
              }
            }
            &:nth-child(3) a {
              background: url("images/icones/meio.png") no-repeat rgba(45, 45, 45, 0.25);
              background-position: center 20px;
              &:hover {
                background: url("images/icones/meio_branco.png") no-repeat @vermelho-selecao-interna;
                background-position: center 20px;
              }
              &.meioActive {
                background: url("images/icones/meio_branco.png") no-repeat;
                background-position: center 20px;
              }
            }
            &:nth-child(4) a {
              background: url("images/icones/ataque.png") no-repeat rgba(55, 55, 55, 0.2);
              background-position: center 20px;
              &:hover {
                background: url("images/icones/ataque_branco.png") no-repeat @vermelho-selecao-interna;
                background-position: center 20px;
              }
              &.ataqueActive {
                background: url("images/icones/ataque_branco.png") no-repeat;
                background-position: center 20px;
              }
            }
            a {
              width: 65.63px;
              @media (max-width: @screen-phone) {
                width: 65px;
              }
              height: 85px;


              display: block;
              text-align: center;
              padding-top: 50px;
              font-weight: 700;
              font-size: 12px;
              color: #999999;
              text-decoration: none;
              &:hover {
                text-decoration: none;
                background: url("images/elencoPlayerWhite.png") no-repeat @vermelho-selecao-interna;
                background-position: center 20px;
                color: #fff;
              }
            }
          }
        }
        table {
          color: #fff;
          font-size: 16px;
          width: 100%;
          background: rgba(255, 255, 255, 0.07);

          tbody {
            height: 200px;
            overflow: auto;
            overflow-y: scroll !important;
            display: block;
          }
          tr {
            border-bottom: 1px solid #404040;

            td:nth-child(1) {
              font-weight: 700;
              text-align: center;
              background: rgba(25, 25, 25, 0.35);
              border-right: 2px solid;
              border-color: transparent;
              width: 45px;
              border-right: 1px solid #404040;
            }
            td:nth-child(2) {
              color: #fefefe;
              font-weight: 400;
              background: rgba(25, 25, 25, 0.25);
              width: 217px;
              padding-left: 10px;
            }
          }
        }

      }
    }
    .negociacoes {

      @media (max-width: @screen-phone) {
        margin-bottom: 25px;
      }
      table {
        width: 100%;
        height: 286px;
        background: rgba(10, 10, 10, 0.07);
        tbody {
          height: 287px;
          display: block;
          overflow-y: scroll !important;
          tr {
            border-bottom: 1px solid #404040;
            td:nth-child(1) {
              font-weight: 700;
              font-size: 16px;
              color: #fff;
              width: 100px;
              padding: 2px 0px 2px 20px;
            }
            td:nth-child(2) {
              width: 60px;
              text-align: center;
            }
            td:nth-child(3) {
              width: 100px;
              text-align: right;
              font-weight: 400;
              font-size: 16px;
              color: #b7b7b6;
            }
            &:last-child {
              border-bottom: 0px;
            }
          }
        }
      }
    }
  }
}
.backToHome {
  top: 0px;
}