<div class="home">
    <div class="row ">
        <div class="container">
            <div class="col-md-6 col-sm-12 home-left">
                <h1><span class="mainTitle">Guia de Campeonato</span> Uefa Champions League</h1>

                <div class='title-separator'></div>
                <span class="btn-som" ng-class="{parar: !playing}" ng-click="toggleSom()"></span><a class="linkCreditos" ui-sref="creditos"> Créditos</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <p class="col-md-6 col-sm-12">Saiba tudo sobre as equipes que disputarão o maior campeonato de times do
                planeta</p>
            <div class="col-md-6 playersHome">
                 <img src="images/robbenHome.png" class="robbenHome">
                <img src="images/diego-costaHome.png" class="diego-costaHome">
                <img src="images/messiHome.png" class="messiHome">
                <img src="images/cristiano-ronaldoHome.png" class="cristiano-ronaldoHome">
                <img src="images/fundoRetanguloAzul.png" class="retangulo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="selectTeamBackground">
            <div class="container">
                <div class="col-md-12 selectTeam">
                    <p>Selecione a equipe abaixo:</p>
                    <ul class="mainSelect grupoA" ng-mouseover="showTitleA=true" ng-mouseleave="showTitleA=false">
                        <li class="visible-phone-block groupTitleMobile">GRUPO A
                        </li>
                        <li ng-repeat="team in teams.times | filter:{grupo:'A'}" ng-mouseover="menu.teamNameA=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                                src="images/times/{{team.imgEscudo}}"><span class="visible-phone-inline-block teamNameHome">{{team.abreviaturaMenu}}</span></a></li>
                        <li ng-show="showTitleA" class="groupTitle hidden-phone">GRUPO A | <span
                                class="teamName">{{menu.teamNameA}}</span>
                        </li>
                    </ul>
                    <ul class="mainSelect grupoB " ng-mouseover="showTitleB=true" ng-mouseleave="showTitleB=false">
                        <li class="visible-phone-block groupTitleMobile">GRUPO B
                        </li>
                        <li ng-repeat="team in teams.times | filter:{grupo:'B'}" ng-mouseover="menu.teamNameB=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                                src="images/times/{{team.imgEscudo}}"><span class="visible-phone-inline-block teamNameHome">{{team.abreviaturaMenu}}</span></a></li>
                        <li ng-show="showTitleB" class="groupTitle hidden-phone">GRUPO B | <span
                                class="teamName hidden-phone">{{menu.teamNameB}}</span>
                        </li>
                    </ul>
                    <ul class="mainSelect grupoC " ng-mouseover="showTitleC=true" ng-mouseleave="showTitleC=false">
                        <li class="visible-phone-block groupTitleMobile">GRUPO C
                        </li>
                        <li ng-repeat="team in teams.times | filter:{grupo:'C'}" ng-mouseover="menu.teamNameC=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                                src="images/times/{{team.imgEscudo}}"><span class="visible-phone-inline-block teamNameHome">{{team.abreviaturaMenu}}</span></a></li>
                        <li ng-show="showTitleC" class="groupTitle hidden-phone">GRUPO C | <span
                                class="teamName hidden-phone">{{menu.teamNameC}}</span>
                        </li>
                    </ul>
                    <ul class="mainSelect grupoD " ng-mouseover="showTitleD=true" ng-mouseleave="showTitleD=false">
                        <li class="visible-phone-block groupTitleMobile">GRUPO D
                        </li>
                        <li ng-repeat="team in teams.times | filter:{grupo:'D'}" ng-mouseover="menu.teamNameD=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                                src="images/times/{{team.imgEscudo}}"><span class="visible-phone-inline-block teamNameHome">{{team.abreviaturaMenu}}</span></a></li>
                        <li ng-show="showTitleD" class="groupTitle hidden-phone">GRUPO D | <span
                                class="teamName hidden-phone">{{menu.teamNameD}}</span>
                        </li>
                    </ul>
                    <ul class="mainSelect grupoE " ng-mouseover="showTitleE=true" ng-mouseleave="showTitleE=false">
                        <li class="visible-phone-block groupTitleMobile">GRUPO E
                        </li>
                        <li ng-repeat="team in teams.times | filter:{grupo:'E'}" ng-mouseover="menu.teamNameE=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                                src="images/times/{{team.imgEscudo}}"><span class="visible-phone-inline-block teamNameHome">{{team.abreviaturaMenu}}</span></a></li>
                        <li ng-show="showTitleE" class="groupTitle hidden-phone">GRUPO E | <span
                                class="teamName hidden-phone">{{menu.teamNameE}}</span>
                        </li>
                    </ul>
                    <ul class="mainSelect grupoF " ng-mouseover="showTitleF=true" ng-mouseleave="showTitleF=false">
                        <li class="visible-phone-block groupTitleMobile">GRUPO F
                        </li>
                        <li ng-repeat="team in teams.times | filter:{grupo:'F'}" ng-mouseover="menu.teamNameF=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                                src="images/times/{{team.imgEscudo}}"><span class="visible-phone-inline-block teamNameHome">{{team.abreviaturaMenu}}</span></a></li>
                        <li ng-show="showTitleF" class="groupTitle hidden-phone">GRUPO F | <span
                                class="teamName hidden-phone">{{menu.teamNameF}}</span>
                        </li>
                    </ul>
                    <ul class="mainSelect grupoG " ng-mouseover="showTitleG=true" ng-mouseleave="showTitleG=false">
                        <li class="visible-phone-block groupTitleMobile">GRUPO G
                        </li>
                        <li ng-repeat="team in teams.times | filter:{grupo:'G'}" ng-mouseover="menu.teamNameG=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                                src="images/times/{{team.imgEscudo}}"><span class="visible-phone-inline-block teamNameHome">{{team.abreviaturaMenu}}</span></a></li>
                        <li ng-show="showTitleG" class="groupTitle hidden-phone">GRUPO G | <span
                                class="teamName hidden-phone">{{menu.teamNameG}}</span>
                        </li>
                    </ul>
                    <ul class="mainSelect grupoH " ng-mouseover="showTitleH=true" ng-mouseleave="showTitleH=false">
                        <li class="visible-phone-block groupTitleMobile">GRUPO H
                        </li>
                        <li ng-repeat="team in teams.times | filter:{grupo:'H'}" ng-mouseover="menu.teamNameH=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                                src="images/times/{{team.imgEscudo}}"><span class="visible-phone-inline-block teamNameHome">{{team.abreviaturaMenu}}</span></a></li>
                        <li ng-show="showTitleH" class="groupTitle hidden-phone">GRUPO H | <span
                                class="teamName hidden-phone">{{menu.teamNameH}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
