@amarelo-fonte: #fcef34;

.containerHome {
  background: url("images/capaBg.png") !important;
  background-position: 40% -178px !important;

  //  background-size: auto !important;
}

.home {
  margin-top: 8.97%;
  height: 100vh;
  font-family: 'PT Sans', sans-serif;

  .container {
    padding: 0px
  }

  .playersHome {
    position: relative;
    img {
      position: absolute;
      top: 0px;
      right: 0px;
      &.robbenHome {
        z-index: 1;
        top: 64px;
        right: 263px;
      }
      &.diego-costaHome {
        z-index: 2;
        top: 0px;
        right: -72px;
      }
      &.messiHome {
        z-index: 3;
        top: -42px;
        right: -126px;
      }
      &.cristiano-ronaldoHome {
        z-index: 4;
        top: -98px;
        right: -263px;
      }
      &.retangulo {
        position: absolute;
        top: -420px;
        left: -583px;
        z-index: 0;
      }
    }
  }

  h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.08em;
    color: #fff;
  }
  .title-separator {
    display: block;
    width: 200px;
    border-bottom: 2px solid #6c96ff;
    margin: 20px 0px;
  }
  p {
    font-weight: 700;
    font-size: 25px;
    color: #fff;
  }

  .selectTeam {
    padding: 0px;
    z-index: 5;
    p {
      font-size: 16px;
      margin-bottom: 13px;
      margin-top: -25px;
    }
  }

  @media (max-width: @screen-phone) {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 70px;
    h1 {
      font-size: 25px;
      text-align: center;
      .mainTitle {
        font-size: 29px;
        &:after {
          content: "\A";
          white-space: pre;
        }
      }
    }

    p {
      font-size: 13px;
    }

    .selectTeamBackground {
      background: none;
      p {
        text-align: center;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px 0px;
        margin-bottom: 0px;
        margin-top: -6.7vh;
      }
      .mainSelect {
        opacity: 1;
        display: block;
        li {
          display: list-item;
          margin-left: 35%;
          margin-top: 5px;
          &:hover {
            background-color: none;
          }
        }
        img {
          width: 30px;
          height: 30px;
          margin-right: 7px;
        }
        .groupTitleMobile {
          background: rgba(0,0,0,0.8);
          margin: 0px !important;
          text-align: center;
          font-size: 15px;
          color: #fff;
          padding: 5px 0px;
        }
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            color: #fff;
            text-decoration: none;
          }
          .teamNameHome {
            display: inline-block;
            font-size: 15px;
            font-weight: 700;
          }
        }
      }
      ul.grupoA, ul.grupoB, ul.grupoC, ul.grupoD, ul.grupoE, ul.grupoF, ul.grupoG, ul.grupoH {
        padding-bottom: 0px;
        &:hover {
          border-bottom: 0px;
        }
      }
    }

    .playersHome {
      height: 65vh;
      overflow: hidden;
    }

    .playersHome {
      img {
        &.robbenHome {
          width: 67%;
          top: 56px;
          right: 177px;
        }
        &.diego-costaHome {
          width: 90%;
          top: 41px;
          right: 25px;
        }
        &.messiHome {
          width: 110%;
          top: 28px;
          right: -5px;
        }
        &.cristiano-ronaldoHome {
          width: 72%;
          top: -4px;
          right: -102px;
        }
        &.retangulo {
          display: none;
        }
      }
    }
  }
}

//navbar teams
ul.mainSelect {
  list-style-type: none;
  padding-left: 0px;
  display: inline-block;
  opacity: 0.200;
  position: relative;
  li {
    display: inline-block;
    margin-right: 13px;

    &:hover {
      background-color: rgba(204, 204, 204, 0.3);
    }

    img {
      width: 60px;
      height: 60px;
    }

    &.groupTitle {
      position: absolute;
      bottom: -25px;
      left: 0px;
      color: #6c96ff;
      font-weight: 700;
      font-size: 15px;
      width: 100%;
      text-align: center;

      .teamName {
        color: #fff;
        font-weight: 400;
      }

    }
  }
}

.selectTeamBackground {
  margin-top: 11%;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 6;
  height: 177px;
}

ul.grupoA, ul.grupoB, ul.grupoC, ul.grupoD, ul.grupoE, ul.grupoF, ul.grupoG, ul.grupoH {

  padding-bottom: 7px;

  &:hover {
    opacity: 1;
    padding-bottom: 5px;
    border-bottom: 2px solid #6c96ff;
  }
}

ul.grupoE, ul.grupoF, ul.grupoG, ul.grupoH {
  //      margin-top: 40px;
}

ul.grupoD, ul.grupoH {
  li {
    &:nth-child(4) {
      margin-right: 0px;
    }
  }
}

.mainTitle {
  display: block;
}

.btn-som {
  width: 30px;
  height: 30px;
  background: url(images/btn-som.png) no-repeat left center;
  margin: 0 0 0 0px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: -31px;
  left: 28px;

  .containerHome & {

      top: -1px;
      left: 1120px;
      z-index: 10;
  }
}

.btn-som.parar {
  background-position: right center;
}

.linkCreditos, .linkCreditos:hover {
  margin-top: 30px;
  position: absolute;
  top: 0px;
  left: 1120px;
  z-index: 10;
  color: #fff;
  text-decoration: none;
}

.creditos {
  font-weight: 400;
  color: #fff;
  text-align: center;
  a, a:hover {
    color: #fff;
    text-decoration: none;
  }
}
//navbar teams end