.destaque {
  .playerHighlightLeft {
    text-align: right;
    z-index:2;
    h1 {
      font-size: 60px !important;
    }
    .borderBottom {
      margin-left: 100px;
    }
  }
  .playerHighlightRight {
    text-align: left;
    z-index:2;
    h1 {
      font-size: 60px !important;
    }
    .borderBottom {
      margin-right: 100px;
    }
  }
  .playerHistoryLeft {
    text-align: right;
    z-index: 2;
  }
  .playerHistoryRight {
    text-align: left;
    z-index: 2;
  }
  .playerBigRight {
    position: relative;
    img {
      position: absolute;
      top: -133px;
      right: -193px;
      z-index: 1;
      @media (max-width: @screen-phone) {
        position: relative;
        width: 100%;
        top: 0px;
        left: 0px;
      }
    }
  }
  .playerBigLeft {
    position: relative;
    img {
      position: absolute;
      top: -166px;
      @media (min-height: 899px) {
        top: -133px;
      }

      @media (min-height: 910px) {
        top: -75px;
      }

      @media (max-width: @screen-phone) {
        position: relative;
        width: 100%;
        top: 0px;
        left: 0px;
      }

      left: -210px;
      z-index: 1;
    }
  }

  .desfocado {
    z-index: 0;
    h1,h2,p, {
      color: #545353 !important;
      @media (max-width: @screen-phone) {
        color: #fff !important;;
      }
    }
    .borderBottom {
      border-color: #545353 !important;
    }
  }
}

.highlightLeft {
  width: 50%;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0px;
  z-index: 3;
}
.highlightRight {
  width: 50%;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: 3;
}

.degrade {
  position: absolute;
  top: 71px;
  left: -79px;
}
.backToHome {
  top: 0px;
}
.blackBlur {
  position: absolute;
  top: -87px;
  left: -89px;
  z-index: -1;
}