<div>
    <!--BARRA TIMES-->
    <div class="navbar navbar-default navbar-fixed-top navbar-espn navbar-team hidden-phone" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav mainSelect grupoA grayscale" ng-mouseover="showTitleA=true"
                ng-mouseleave="showTitleA=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'A'}" ng-mouseover="menu.teamNameA=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleA" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO A | <span
                        class="teamName hidden-phone">{{menu.teamNameA}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoB grayscale" ng-mouseover="showTitleB=true"
                ng-mouseleave="showTitleB=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'B'}" ng-mouseover="menu.teamNameB=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleB" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO B | <span
                        class="teamName hidden-phone">{{menu.teamNameB}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoC grayscale" ng-mouseover="showTitleC=true"
                ng-mouseleave="showTitleC=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'C'}" ng-mouseover="menu.teamNameC=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleC" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO C | <span
                        class="teamName hidden-phone">{{menu.teamNameC}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoD grayscale" ng-mouseover="showTitleD=true"
                ng-mouseleave="showTitleD=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'D'}" ng-mouseover="menu.teamNameD=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleD" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO D | <span
                        class="teamName hidden-phone">{{menu.teamNameD}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoE grayscale" ng-mouseover="showTitleE=true"
                ng-mouseleave="showTitleE=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'E'}" ng-mouseover="menu.teamNameE=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleE" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO E | <span
                        class="teamName hidden-phone">{{menu.teamNameE}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoF grayscale" ng-mouseover="showTitleF=true"
                ng-mouseleave="showTitleF=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'F'}" ng-mouseover="menu.teamNameF=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleF" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO F | <span
                        class="teamName hidden-phone">{{menu.teamNameF}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoG grayscale" ng-mouseover="showTitleG=true"
                ng-mouseleave="showTitleG=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'G'}" ng-mouseover="menu.teamNameG=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleG" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO G | <span
                        class="teamName hidden-phone">{{menu.teamNameG}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav mainSelect grupoH grayscale" ng-mouseover="showTitleH=true"
                ng-mouseleave="showTitleH=false" style="border-bottom-color:#{{team.codigoCor}}">
                <li ng-repeat="team in teams.times | filter:{grupo:'H'}" ng-mouseover="menu.teamNameH=team.abreviaturaMenu"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})"><img
                        src="images/times/{{team.imgEscudo}}"></a></li>
                <li ng-show="showTitleH" class="groupTitle" style="color:#{{team.codigoCor}}">GRUPO H | <span
                        class="teamName hidden-phone">{{menu.teamNameH}}</span>
                </li>
            </ul>
        </div>
    </div>
    <!--FINAL BARRA TIMES-->
    <!--BARRA TIMES MOBILE-->
    <nav class="navbar navbar-default navbar-fixed-top navbar-mobile visible-phone-block" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <form class="navbar-form navbar-left form-inline" role="search">
                    <div class="form-group">
                        <select ng-change="goToTeam()" class="form-control" ng-model="navMobile.team" ng-options="team.nome for team in teams.times">
                            <option value="">Selecione um Time</option>
                        </select>
                    </div>
                </form>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})">Home</a></li>
                    <li><a ui-sref="teamEquipe({id:slugfy(team.abreviaturaMenu)})" ng-style="menuStyleEquipe"
                           ng-mouseout="menuStyleEquipe={}"
                           ng-mouseover="menuStyleEquipe={'background-color': '#'+team.codigoCor}">Equipe</a></li>
                    <li><a ui-sref="teamDestaque({id:slugfy(team.abreviaturaMenu)})" ng-style="menuStyleDestaque"
                           ng-mouseout="menuStyleDestaque={}"
                           ng-mouseover="menuStyleDestaque={'background-color': '#'+team.codigoCor}">Destaques</a></li>
                    <li><a ui-sref="teamDesempenho({id:slugfy(team.abreviaturaMenu)})" ng-style="menuStyleDesempenho"
                           ng-mouseout="menuStyleDesempenho={}"
                           ng-mouseover="menuStyleDesempenho={'background-color': '#'+team.codigoCor}">Desempenho</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!--FINAL BARRA TIMES MOBILE-->
    <div class="container time equipe destaque">
        <div class="row">
            <div class="col-md-6 medias">
                <h1><img class="escudo" src="images/times/{{team.imgEscudo}}">{{team.abreviaturaMenu}}</h1>
                <div class="backToHome"><a ui-sref="home"><i class="fa fa-home"></i> Início</a><span class="btn-som" ng-class="{parar: !playing}" ng-click="toggleSom()"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-12 mainTitle playerHighlightLeft" ng-class="{desfocado: !highlighLeft}">
                <h1>{{team.destaques[0].nomeDestaque}}</h1>

                <div class="borderBottom" style="border-bottom-color:#{{team.codigoCor}}"></div>
            </div>
            <div class="col-md-3 col-xs-12 playerBigLeft">

            </div>
            <div class="col-md-3 col-xs-12  playerBigRight">

            </div>
            <div class="hidden-phone col-md-3 col-xs-12  mainTitle playerHighlightRight" ng-class="{desfocado: highlighLeft}">
                <h1>{{team.destaques[1].nomeDestaque}}</h1>

                <div class="borderBottom hidden-phone" style="border-bottom-color:#{{team.codigoCor}}"></div>
            </div>
        </div>
        <div class="row">
            <div class="hidden-phone col-md-3 col-xs-12 resumo playerHistoryLeft" ng-class="{desfocado: !highlighLeft}">
                <h2>{{team.destaques[0].headline}}</h2>

                <p>{{team.destaques[0].descricao}}</p>
                <img src="images/black_blur.png" class="blackBlur">
            </div>
            <div class="col-md-3 col-xs-12 playerBigLeft" ng-class="{desfocado: !highlighLeft}">
                 <img class="hidden-phone" src="images/finais_destaques_times/{{team.destaques[0].imagem}}" ng-show="highlighLeft">
                <img class="visible-phone-block" src="images/finais_destaques_times/{{team.destaques[0].imagem}}">
                <img class="hidden-phone" src="images/finais_destaques_times/{{trataNomeImagem(team.destaques[0].imagem)}}" ng-hide="highlighLeft">
            </div>
            <div class="visible-phone-block col-xs-12 resumo playerHistoryLeft" ng-class="{desfocado: !highlighLeft}">
                <h2>{{team.destaques[0].headline}}</h2>

                <p>{{team.destaques[0].descricao}}</p>
                <img src="images/black_blur.png" class="blackBlur">
            </div>

            <div class="visible-phone-block col-md-3 col-xs-12  mainTitle playerHighlightRight" ng-class="{desfocado: highlighLeft}">
                <h1>{{team.destaques[1].nomeDestaque}}</h1>

                <div class="borderBottom hidden-phone" style="border-bottom-color:#{{team.codigoCor}}"></div>
            </div>

            <div class="col-md-3 col-xs-12  playerBigRight" ng-class="{desfocado: highlighLeft}">
                <img src="images/finais_destaques_times/{{team.destaques[1].imagem}}" ng-hide="highlighLeft">
                <img class="hidden-phone" src="images/finais_destaques_times/{{trataNomeImagem(team.destaques[1].imagem)}}" ng-show="highlighLeft">
            </div>
            <div class="col-md-3 col-xs-12 resumo playerHistoryRight" ng-class="{desfocado: highlighLeft}">
                <h2>{{team.destaques[1].headline}}</h2>

                <p>{{team.destaques[1].descricao}}</p>
                <img src="images/black_blur.png" class="blackBlur">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 menuTeam hidden-phone">
                <img src="images/faixa_degrade.png" class="degrade">
                <ul>
                    <li><a ui-sref="team({id:slugfy(team.abreviaturaMenu)})" ng-style="menuStyleHome" ng-mouseout="menuStyleHome={}" ng-mouseover="menuStyleHome={'background-color': '#'+team.codigoCor}">Home</a></li>
                    <li><a ui-sref="teamEquipe({id:slugfy(team.abreviaturaMenu)})" ng-style="menuStyleEquipe" ng-mouseout="menuStyleEquipe={}" ng-mouseover="menuStyleEquipe={'background-color': '#'+team.codigoCor}">Equipe</a></li>
                    <li class="active"><a ui-sref="teamDestaque({id:slugfy(team.abreviaturaMenu)})">Destaques</a></li>
                    <li><a ui-sref="teamDesempenho({id:slugfy(team.abreviaturaMenu)})" ng-style="menuStyleDesempenho" ng-mouseout="menuStyleDesempenho={}" ng-mouseover="menuStyleDesempenho={'background-color': '#'+team.codigoCor}">Desempenho</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="highlightLeft hidden-phone" ng-mouseover="highlighLeft=true" ng-mouseout="highlighLeft=false"></div>
    <div class="highlightRight hidden-phone"></div>
</div>
