.desempenho {
  .numeros {
    margin-top: 20px;
    @media (max-width: @screen-phone) {
      padding-left: 0px;
    }
    table {
      th {
        background: rgba(0, 0, 0, 0.4);
        font-weight: 700;
        color: #fff;
        font-size: 20px;
        border: 0px;
        border-bottom: 0px !important;
      }
      td {
        border-top: 0px;
        font-weight: 400;
        color: #fff;
        font-size: 16px;
        border: 1px solid #414141;
        border-top: 0px;
      }
    }
    .participacoes {
      th, td {
        text-align: center;
      }
      td {
        border: 1px solid #414141;
        border-top: 0px;
        font-weight: 700;
        color: @vermelho-selecao-interna;
        font-size: 20px;
      }
    }
  }

  .ultimasCampanhas {
    @media (max-width: @screen-phone) {
      padding-left: 0px;
    }
    h2 {
      font-weight: 700;
      font-size: 20px;
      color: #fff;
      background: rgba(0, 0, 0, 0.4);
      margin-bottom: 0px;
      padding: 12px;
    }
    table {
      th, td {
        border-bottom: 0px !important;
        border-top: 0px !important;
        text-align: center;
        position: relative;
      }
      thead {
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        @media (max-width: @screen-phone) {
          th {
            font-size: 9px;
            padding: 8px 5px;
          }
        }
        th:nth-child(1) {
          background: rgba(0, 0, 0, 0.8);
          text-align: left;
          width: 14.28571428571429%;
        }
        th:nth-child(2) {
          background: rgba(0, 0, 0, 0.7);
          width: 14.28571428571429%;
        }
        th:nth-child(3) {
          background: rgba(0, 0, 0, 0.5);
          width: 14.28571428571429%;
        }
        th:nth-child(4) {
          background: rgba(0, 0, 0, 0.34);
          width: 14.28571428571429%;
        }
        th:nth-child(5) {
          background: rgba(0, 0, 0, 0.3);
          width: 14.28571428571429%;
        }
        th:nth-child(6) {
          background: rgba(0, 0, 0, 0.25);
          width: 14.28571428571429%;
        }
        th:nth-child(7) {
          background: rgba(0, 0, 0, 0.2);
          width: 14.28571428571429%;
        }
      }
      tbody {
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;

        td {
          overflow-x: hidden;
          position: relative;
          z-index: 1;
          padding: 8px 0px;
          img {
            position: absolute;
            top: 50%;
            left: 0px;
          }
        }

        td:nth-child(1) {
          background: rgba(0, 0, 0, 0.45);
          line-height: 32px;
          width: 14.28571428571429%;
        }
        td:nth-child(2) {
          background: rgba(5, 5, 5, 0.55);
          width: 14.28571428571429%;
          img {

            opacity: 0.1;
          }
        }
        td:nth-child(3) {
          background: rgba(4, 4, 4, 0.5);
          width: 14.28571428571429%;
          img {

            opacity: 0.2;
          }
        }
        td:nth-child(4) {
          background: rgba(3, 3, 3, 0.4);
          width: 14.28571428571429%;
          img {

            opacity: 0.3;
          }
        }
        td:nth-child(5) {
          background: rgba(2, 2, 2, 0.3);
          width: 14.28571428571429%;
          img {

            opacity: 0.4;
          }
        }
        td:nth-child(6) {
          background: rgba(1, 1, 1, 0.2);
          width: 14.28571428571429%;
          img {
            opacity: 0.5;
          }
        }
        td:nth-child(7) {
          background: rgba(0, 0, 0, 0.1);
          width: 14.28571428571429%;
          img {
            opacity: 0.55;
          }
        }
      }
    }
  }
}
.backToHome {
  top: 0px;
}

.barraGrafico {
  width:300px;
  height: 5px;
  position: absolute;
  top: 50%;
  z-index: 0;
  background-color: @vermelho-selecao-interna;
  @media (max-width: @screen-phone) {
    z-index: -10;
    top:40%;
  }
}

.anoInside {
  font-size: 8px;
  z-index: 4;
}