@amarelo-fonte: #fcef34;
@vermelho-selecao-interna: rgba(225, 75, 82, 1);

//BARRA TIMES
.navbar-team {
  margin-top: 80px !important;
  background: rgba(248, 248, 248, 0) !important;

  img {
    width: 30px !important;
    height: 30px !important;
  }

  ul.mainSelect {
    margin-right: 1px;
  }
  li {
    margin-right: 5.55px !important;
    > a {
      padding: 10px 0px 0px 0px;
    }
    &.groupTitle {
      font-size: 13px !important;
      bottom: -20px !important;
    }
//    &.ng-hide {
//      /* this is just another form of hiding an element */
//      display:block!important;
//      position:absolute;
//      top:-9999px;
//      left:-9999px;
//    }
  }

  ul.grupoH {
    margin-right: 0px;
    li {
      &:nth-child(4) {
        margin-right: 0px !important;
      }
    }
  }
  ul.grupoA, ul.grupoB, ul.grupoC, ul.grupoD, ul.grupoE, ul.grupoF, ul.grupoG, ul.grupoH {


    &:hover {
      border-bottom: 1px solid #fff600;
    }
  }
}

//BARRA TIMES END
.container-geral {
  background: url("images/fundo_home_internas.png") no-repeat;
  background-position: 55% 20px;
  background-size: cover;
}

@media (max-width: @screen-phone) {
  .navbar-mobile {
    margin-top: 80px;
    border-bottom: 0px;
    .navbar-form {
      border: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    select {
      width: 160px;
      margin-left: 10px;
    }
  }
}

.time {
  margin-top: 10%;
  font-family: 'PT Sans', sans-serif;

  @media (max-width: @screen-phone) {
    margin-top: 155px;
    position: relative;
  }

  .menuTeam {
    z-index: 4;
    position: fixed;
    top: 580px;
    @media (max-height:650px) {
     top: 543px;
    }
    @media (min-height: 899px) {
      top: 620px;
    }

    margin: 0px auto;
    width: 1170px;
    ul {
      list-style-type: none;
      width: 100%;
      padding: 0px;
      text-align: center;
      margin-top: 30px;
      li {
        display: inline-block;
        width: 24.7%;
        background-color: rgba(0, 0, 0, 0.5);
        margin-right: -3px;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        position: relative;
        a {
          width: 100%;
          display: block;
          text-decoration: none;
          padding: 20px 0px;
          color: inherit;
        }
        &:hover {
          background-color: @vermelho-selecao-interna;
          font-weight: 700;
          color: #000;
        }
        &.active {

          background-color: @vermelho-selecao-interna;
          font-weight: 700;
          color: #000;

          &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          &:before {
            border-bottom-color: @vermelho-selecao-interna;
            border-width: 15px;
            margin-left: -16px;
          }

        }
      }
    }
  }

  .mainTitle {

    margin-top: 10px;

    .borderBottom {
      border-bottom: 1px solid @vermelho-selecao-interna;
      width: 160px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    img.escudo {
      vertical-align: -10%;
      margin-right: 10px;
      width: 60px;
      height: 60px;
      @media (max-width: @screen-phone) {
        width: 40px;
        height: 40px;
      }
    }
    img.pais {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      vertical-align: 50%;
      @media (max-width: @screen-phone) {
        width: 10px;
        height: 10px;
        margin-left: 2px;
      }
    }
    h1 {
      font-weight: 700;
      font-size: 72px;
      color: #fff;
      margin-top: 10px;
      @media (max-width: @screen-phone) {
        font-size: 40px;
        margin-top: 10px;
      }
    }

    .grupoMobile {
      position: absolute;
      font-size: 11.5px;
      font-weight: 700;
      color: #fff;
      top: -23px;
      left: 66px;
    }

  }

  .headerCotacao {
    font-size: 11.5px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 22px;
    @media (max-width: @screen-phone) {
      position: absolute;
      top: 40px;
      left: 49px;
      font-size: 7px;
    }

    .cotacaoLabel {
      padding: 5px 2px 3px 24px;
      background: rgba(204, 204, 204, 0.3) url("images/trophy.png") no-repeat;
      @media (max-width: @screen-phone) {
        background-size: 12px;
        padding: 1px 2px 3px 13px;
        background-position: 2% 0px;
      }
      background-position: 2% 1px;
      margin-right: 2px;
    }
    .cotacaoValue {
      margin-right: 5px;
      &::after {
//        content: "|";
//        margin-left: 5px;
        color: @vermelho-selecao-interna;
      }
    }
    .teamGroup {
      color: @vermelho-selecao-interna;
    }
  }

  .resumo {
    h2 {
      font-weight: 700;
      color: #fff;
      font-size: 20px;
    }
    p {
      font-weight: 400;
      color: #fff;
      font-size: 14px;
    }
  }

  .teamImage {
    position: relative;

    @media (max-width: @screen-phone) {
      margin-top: 35px;
      padding-left: 0px;
      margin-left: -10px;
    }


    img.playerBig {
      position: absolute;
      top: -111px;
      left: -46px;
      z-index: 2;
      @media (max-width: @screen-phone) {
        width: 115%;
        position: relative;
        top: 0px;
        left: 0px;
      }

    }
    img.shadow {
      position: absolute;
      top: -405px;
      left: -100px;
      z-index: 0;
    }
    img.retangulo {
      position: absolute;
      top: -454px;
      left: -323px;
      z-index: 1;
    }
  }

  .estreia {
    margin-top: 15px;

    @media (max-width: @screen-phone) {
      text-align: center !important;
    }

    .confronto img {
      width: 50px;
      height: 50px;
      vertical-align: -10px;
      @media (max-width: @screen-phone) {
        width: 70px;
        height: 70px;
      }
    }
    .versus {
      font-weight: 400;
      color: #fff;
      font-size: 30px;
      margin: 0px 5px;
    }
    .timeB {
      margin-left: -7px;
    }

    .confronto, .ondeAssistir {
      display: inline-block;
      @media (max-width: @screen-phone) {
        display: block;
        text-align: center;
        padding: 0px !important;
        margin: 0px !important;
      }
    }

    .ondeAssistir {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      color: #fff;
      margin-left: 15px;
      .estreiaData {
        font-weight: 700;
        color: @vermelho-selecao-interna;
        @media (max-width: @screen-phone) {
          margin-top: 10px;
          font-size: 20px;
        }
      }
      .estreiaCanais {
        img {
          width: 60px;
          margin-top: 5px;
          margin-right: 45px;
          @media (max-width: @screen-phone) {
            margin: 0px;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 20px;
          }
        }

      }
    }
  }

}

.backToHome {
  position: absolute;
  top: -33px;
  right: -570px;
  color: #fff;
  font-size: 16px;
  z-index: 6;
}
.backToHome a, .backToHome a:hover {
  color: #fff;
  text-decoration: none;
}

.ondeAssistirMobile {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}